{% extends '_main.html.twig' %}

{% block title %}Edit Institution{% endblock %}

{% block body %}
    <h1 class="font-sans px-8 py-4 rounded mt-0 mb-4 bg-white drop-shadow-sm text-xl font-bold">
        Edit Institution
    </h1>

    <div class="border-collapse w-full bg-white rounded text-left font-sans drop-shadow-md mb-8 px-8 py-4">
        {{ include('institution/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a class="font-bold" href="{{ path('app_institution_index') }}">back to list</a>

    {{ include('institution/_delete_form.html.twig') }}
{% endblock %}
