{% extends 'base.html.twig' %}

{% block body %}
<div
  class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <!--Content area here-->
  <div
    class="d-flex flex-column-fluid">

    <!--begin::Container-->
    <div
      class="container">

      <!--begin::Row-->
      <div class="row">
        <div class="col-12 my-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
