{% extends 'reset_password/_base_reset_password.html.twig' %}

{% block content %}
  <h1>Hola!</h1>

  <p>Para recuperar tu contraseña, por favor visitar el siguiente enlace</p>

  <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

  <p>Este enlace expira en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
{% endblock %}