{% extends '_main.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="font-sans px-8 py-4 rounded mt-0 mb-4 bg-white drop-shadow-sm text-xl font-bold">
        Create new Category
    </h1>

    <div class="border-collapse w-full bg-white rounded text-left font-sans drop-shadow-md mb-8 px-8 py-4">
        {{ include('category/_form.html.twig') }}
    </div>

    <a class="font-bold" href="{{ path('app_category_index') }}">back to list</a>
{% endblock %}
