{% extends 'base.html.twig' %}

{% block title %}New PublicService{% endblock %}

{% block body %}
    <h1>Create new PublicService</h1>

    {{ include('public_service/_form.html.twig') }}

    <a href="{{ path('app_public_service_index') }}">back to list</a>
{% endblock %}
