{% macro td(value, cssStyles = "", attributes = "") %}
  <td >
    {{ value }}
  </td>
{% endmacro %}

{% macro th(value, cssStyles = "", attributes = "") %}
  <th style="{{attributes}}">{{ value }}</th>
{% endmacro %}